In [1]:
import pandas as pd
import numpy as np

In [2]:
root_dir = "/Users/samarthinani/Git_projects/movielens32M/"
data_dir = "data/ml-32m/"
ratings_file = "ratings.csv"
links_file = "links.csv"
movies_file = "movies.csv"
tags_file = "tags.csv"

In [3]:
links = pd.read_csv(root_dir + data_dir + links_file)

In [4]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
links.isna().sum()

movieId      0
imdbId       0
tmdbId     124
dtype: int64