In [1]:
import pandas as pd
import numpy as np

In [2]:
root_dir = "/Users/samarthinani/Git_projects/movielens32M/"
data_dir = "data/ml-32m/"
ratings_file = "ratings.csv"
links_file = "links.csv"
movies_file = "movies.csv"
tags_file = "tags.csv"

In [3]:
movies = pd.read_csv(root_dir + data_dir + movies_file, low_memory=False)

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [5]:
movies.isna().sum()

movieId    0
title      0
genres     0
dtype: int64